backcall==0.2.0
constantly==15.1.0
Flask==1.1.2
gast==0.3.3
get==2019.4.13
grpcio==1.26.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
llvmlite==0.31.0
lxml==4.5.0
Markdown==3.1.1
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
notebook==6.0.3
numba==0.47.0
numpy==1.18.1
opt-einsum==3.1.0
packaging==20.4
pandas==0.25.3
pandocfilters==1.4.2
parsel==1.5.2
parso==0.7.0
Pillow==7.0.0
post==2019.4.13
praat-parselmouth==0.3.3
prometheus-client==0.8.0
prompt-toolkit==3.0.5
Protego==0.1.16
protobuf==3.11.2
public==2019.4.13
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
Pygments==2.6.1
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.16.0
python-dateutil==2.8.1
python-jwt==2.0.1
pytz==2019.3
PyYAML==5.3
pyzmq==19.0.1
query-string==2019.4.13
queuelib==1.5.0
request==2019.4.13
requests==2.11.1
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
resampy==0.2.2
rsa==4.6
Send2Trash==1.5.0
service-identity==18.1.0
six==1.13.0
SoundFile==0.10.3.post1
style==1.1.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
tqdm==4.41.1
traitlets==4.3.3
Twisted==20.3.0
update==0.0.1
w3lib==1.21.0
wcwidth==0.2.4
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
zipp==3.1.0
zope.interface==5.1.0
